/* Navbar + Banner*/
.navbar-brand img{
    width: 100px;
    height: auto;
}

.nav-link:hover{
    background-color: #d4d488;
}
.navbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobreNos{
    width: 75px;
}

/* BREAKPOINTS */
@media (max-width: 767px) {
    .bannerText{
        margin-top: 70px;
        text-align: center;
    }
    .review{
        height: 180px;
    }
    .parallax-section {
      height: 60vh; /* Ajuste conforme necessário */
      background-image: url('img/5.png'); /* Substitua pelo caminho correto para a imagem de plano de fundo */
    }
}

@media (min-width: 768px) {
    .bannerText{
        margin-top: 40%;
    }
    .review{
        max-height: 200px;
    }
    .parallax-section {
      height: 100vh; /* Ajuste conforme necessário */
      background-image: url('img/2.png'); /* Substitua pelo caminho correto para a imagem de plano de fundo */
    }
}

.typing-effect {
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

/* Conteúdo */
.highlight{
    color: #697D2F;
    font-weight: 600;
}

.margem{
    margin-top: 3em;
    margin-bottom: 3em;
}
.contatoImg{
    max-height: 50px;
}

/* REVIEWS */
.accelerated.box {
  transition: transform 750ms;
  will-change: transform;
}
.accelerated.box:hover,
.accelerated.box:focus {
  transform: translateY(10px);
}

.fs-4 {
  transition: transform 750ms;
  will-change: transform;
}
.fs-4:hover,
.fs-4:focus {
  transform: translateX(10px);
}

.janky.box {
  transition: margin-top 750ms;
  will-change: margin-top;
}
.janky.box:hover,
.janky.box:focus {
  margin-top: 10px;
}


/* Banner - PROJETOS */
.parallax-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.parallax-text {
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%);
  top: 55%;
}

.faixa{
  background-color: #697D2F;
  padding: 3px;
  color: #F3F3F3;
}

.socialImg{
  border: 2px solid #202020;
  border-radius: 2px;
  width: 4em;
  height: 3.9em;
}
.socialImg:hover{
  background-color: #697D2F30;
}